h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 25px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

label:nth-child(1) {
    display: flex;
    flex-direction: column;
    text-align: start;
}

input[type="number"] {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
    margin-top: 8px;
}

label {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

fieldset {
    border-radius: 4px;
    stroke-width: 1px;
    stroke: #808080;
    width: 340px;
    height: 65px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
}

legend {
    margin-left: -142px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
}

button[type="submit"] {
    font-family: 'Montserrat', sans-serif;
    border-radius: 8px;
    padding: 8px 16px;
    width: 360px;
    height: 40px;
    background: #4e75ff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    outline: none;
    border-color: transparent;
}

button[type="submit"]:hover {
    background: #6c8cff;
}

