h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 25px;
}

.value {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #2e2f42;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 32px;
}

.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#datetime-picker {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    border: 1px solid #808080;
    border-radius: 4px;
    height: 40px;
    margin-right: 8px;
    background: #f5f5f5;
}

#datetime-picker:hover {
    border: 1px solid #000;
}

#datetime-picker:active {
    border: 1px solid #4e75ff;
}

/*#datepicker:disabled {
    border: 1px solid #808080;
    color: #808080;
}*/

button[type="button"] {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 8px;
    padding: 8px 16px;
    width: 75px;
    height: 40px;
    background: #4e75ff;
    outline: none;
    border-color: transparent;
}

button[type="button"]:hover {
    background: #6c8cff;
}

button[type="button"]:disabled {
    background: #cfcfcf;
    color: #989898;
}
